<!DOCTYPE html>
<html>
  <head>
    <title>InvMngr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section id="flash-message">
      <% if !flash.empty? %>
        <% flash.each do |type, messages| %>
          <% if messages.respond_to?('each') %>
            <% messages.each do |message| %>
              <p><%= message %></p>
            <% end %>
          <% else %>
            <p><%= messages %></p>
          <% end %>
        <% end %>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
